.iframeStyle
{
    border-radius: 30px;
    background-color: rgb(44, 193, 39);
    position:fixed;
    top: 10%;
    left:40%;
    z-index: 2;
}
.contact{
    
    font-size: 30px;
    width:95%;
    height:60px;
    border-radius: 10px;
    margin:2px; 
    margin-left: 3%;
}
.contactDiv
{
    background-image: url('https://img.freepik.com/premium-photo/red-light-lens-flare-black-background_692702-716.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width:500px;
    background-color: rgb(0, 122, 229);
    height:706px;
    overflow-y: auto;
}
.contactDiv::-webkit-scrollbar{
    width: 5px;
    color:aqua
}
.contactDiv::-webkit-scrollbar-thumb { 
  background:#ff6060;
  border-radius: 10px;
  border-width: 3px;
}
.contactDiv::-webkit-scrollbar-track{
 background-color: #000638;
 border-width: 5px;
}
 
.container{
   display:flex;
   overflow-x:hidden;
}
.frame{
    overflow-x:hidden;
}
.messageContent
{
    border-radius: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
}

.messageContainer
{
    overflow-y: auto;
    scroll-behavior: smooth;
    font-size: 10px;
    z-index: 1;
    background-image: url('https://static.vecteezy.com/system/resources/thumbnails/022/831/198/small/abstract-red-light-on-black-background-with-copy-space-for-your-text-photo.jpg');
    background-size: cover;
    color: rgb(255, 255, 255);
   margin-left: 1%;
    width:104%;
    height:706px;
    /* background-color: rgb(151, 151, 255); */
}
.messageBox
{
    
    font-size: 30px;
    padding-top: 3px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 3px;
    margin-left:60px;
    width:900px;
    border-radius: 20px;
    position: fixed;
    top:91.7%;
}
.frame
{
    padding-bottom: 7px;
    margin:-8px -10px -10px -10px;
    background-color: #000638;
}
.AddConvo{
    height:70px;
    width:70px;
    border-radius: 50px;
    background-image: url('https://cdn-icons-png.flaticon.com/512/3294/3294364.png');
    background-size: cover;
    position:fixed;
    top:80%;
    left:27%;
}

/*         iframe extend        */

.contactButton{
    font-size: 30px;
    width:310px;
    height:50px;
    border-radius: 30px;
    margin-bottom: 3px;
}
.contactContainer{
    height:480px;
    border-radius: 10px;
    background:linear-gradient(#a1f39b,#0079e3);
    overflow-y: auto;
}
.contactContainer::-webkit-scrollbar{
    width:5px;
}  

.contactContainer::-webkit-scrollbar-thumb{
    background:#000000;
    border-radius: 3px;
    border-width: 5px;;
}
.contactContainer::-webkit-scrollbar-track{
    background:rgb(187, 186, 186);
    border-radius: 3px;
    border-width: 5px;;
}

button:hover{
    color: #000000;
    background-color: chocolate;
}
button:active{
    background-color: rgb(36, 174, 96);
}
button:focus{
    background-color: rgb(36, 174, 96);
}
button:visited{
    background-color: rgb(36, 174, 96);
}

.addContact
{
    border-radius: 30px;
    background-color: rgb(44, 193, 39);
    position:fixed;
    top: 10%;
    left:40%;
    z-index: 2;
}